[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
djangorestframework = "<4.0,>=3.14"
cryptography = ">=3.4"
gunicorn = ">=21.2.0"
whitenoise = ">=6.6.0"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
